@charset "UTF-8";
body {
    color: #191919;
    font-size: 14px;
    background-image: url(images/watercolor.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: filson-pro,sans-serif;
    font-weight: 200;
    font-style: normal;
    padding-top: 0px;
    margin-top: -67px;
}

#container{
    width: 1280px;
    background-color: #FFFFFF;
    height: 1677px;
    margin: auto;
}

aside {
    float: left;
    height: 1378px;
    background-color: #9F9F9F;
    margin: auto;
    padding-left: 0px;
    clear: left;
    width: 250px;
}

header {
    width: 1282px;
    height: 251px;
    background-repeat: no-repeat;
    background-position: 50% 0%;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    background-image: url(images/header_new-01.jpg);
    background-size: 1085px auto;
    clear: none;
    margin-top: 115px;
    padding-top: 0px;
}


/*Float the main so it shows up next to the aside. Reduce width by 150 px so they both line up with header. */
main {
    width: 1009px;
    height: auto;
    float: left;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-left: -4px;
}

h1{
    color: #FAC0B5;
    font-size: 40px;
    font-family: politica, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 57px;
}

p{
    font-family: canada-type-gibson,sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 100px;
    width: 599px;
    padding-left: 0px;
    font-size: 25px;
    height: 348px;
}

h3 {
    font-size: 12pt;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
/*Clear the float so the footer shows up in the right place again.*/
footer {
    width: 1280px;
    height: 50px;
    clear: both;
    background-color: #F9CEC5;
    font-size: 37px;
    text-align: center;
}
img {
    float: right;
    padding-top: 6px;
    padding-right: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
}
.floatleft {
	float: left;
}
article {
    margin-bottom: 176px;
    padding-bottom: 88px;
    margin-top: 0px;
}
.center {
	margin:auto;
	
}
nav {
    width: 1280px;
    height: 62px;
    background-color: white;
    position: fixed;
    margin-top: -312px;
}
#container nav li {
    display: block;
    list-style-type: none;
    float: left;
    margin-right: 60px;
    margin-left: 133px;
    margin-bottom: 0px;
    width: 80px;
    font-size: 27px;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    margin-top: 7px;
    padding-top: 0px;
    top: -55px;
}
#conatiner nav ul {
    width: 565px;
    margin-right: -35px;
    margin-left: -35px;
    margin-bottom: -35px;
    padding-top: 0px;
}
nav a:link {
    color: #F6B8AD;
    padding: 10px;
    text-decoration: none;
}
nav a:visited {
    text-decoration: none;
    color: #BDD9D9;
}
nav a:hover {
    text-decoration: none;
    color: #FFFFFF;
    background-color: #F79C85;
    padding: 10px;
    border-radius: 20px;
}
nav a:active {
    text-decoration: none;
    color: #312D2D;
}
   
.submit_btn:hover{
	width: 170;
	height: 30px;
	border-radius: 10px;
	background-color: #65ECFC;
	-webkit-box-shadow: 4px 4px 5px #6C6565;
    box-shadow: 4px 4px 5px #6C6565;
}

.column {
    width: 250px;
    height: 800px;
    float: left;
    margin-left: 60px;
    margin-right: 20px;
}
th{
    background-color: #F5D1C5;	
}
video{
    width: 600px;
    hieght: 600px;
    margin-top: auto;
    margin-right: auto;
    margin-left: 214px;
    margin-bottom: auto;
    height: 368px;
}


/*Rules the page will follow on tablet devices*/
@media (max-width: 1024px){
	#container{
    width: 768px;
    height: 2550px;
	}
	aside{
		width:150px;
		height: 2280px;
}
	header{
		width: 768px;
	}
	nav{
    width: 768px;
    height: 55px;
    postition: fixed;
    margin-top: -314px;
	}
	main{
    width: 600px;
    margin-top: 10px;
	}
	footer{
		width: 768px;
	}
	.column{
		margin: 0px 20px 0px 30px;
	}
	#container nav li{
    margin-top: 6px;
    margin-right: 6px;
    margin-left: 75px;
    margin-bottom: 6px;
	}
p {
    margin-left: 60px;
    padding-right: 14px;
}
	
	.ccliscense{
		width: 500px;
		hight: 20px;
		clear: both;
		padding: 50px 0px 0px 0px;
	}

video{
    width: 600px;
    height: 368px;
    margin-left: 12px;
    margin-top: -247px;
}
/*Rules the page will follow on mobile devices*/
@media only screen and (max-width:375px){
	video{
		height: 200px;
		width: 250px;
		margin-left: 25px;
	}
	p{
		width: 300px;
		margin-left: 10px;
	}
	.cc{
		margin-left: -50px;
	}
	#container{
		width: 300px;
		height: 3580px;
}
	header{
   		width: 300px;
		height: 300px;
    background-image: url("images/header_new_300-01.png")
}
	nav{
		margin-top: 50px;
		width: 300px;
		height: 250px;
		position: static;	
}
	main{
    width: 300px;
		margin-top: 5px;
}
	footer{
		width: 300px;
	}
	.column{
		margin: 0px 20px 0px 30px;
	}
	#container nav li{
		margin: 40px;
	}
	aside{
    display: none;
	}
	#container nav li {
	display: list-item;
	list-style-type: none;
	float: none;
	margin: 0px 0px 20px 0px;
	width: 260px;
	text-align: center;	
	
}
	
	#container nav ul {
	width: 260px;
}

	nav a:link {
	display: block;
	width: 200px;
	background-color: #65EBFB;
	color: white;
	}
	
	nav a:visited {
	text-decoration: none;
	color: white;
	}

	}
.cc {
}
.cc {
}
.cc {
}
